{#
/**
 * UniqueID plugin for Craft CMS
 *
 * UniqueIDFieldType HTML
 *
 * @author    madebyjam
 * @copyright Copyright (c) 2016 madebyjam
 * @link      https://madebyjam.com
 * @package   UniqueID
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

<p>{{ values }}</p>
<input type="hidden" id="{{ id }}" name="{{ name }}" value="{{ values }}" />
{% if settings.regenerate %}<button class="btn" id='{{id}}-regenerate'>Generate</button>{% endif %}